services:
  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8080:8080"
    environment:
      # NDD_NUM_THREADS: 0 # Use all available cores
      NDD_AUTH_TOKEN: ""  # No auth for local demo
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:
